/NetBeans/ServidorSwing/build/
/NetBeans/ServidorSwing/dist/
/NetBeans/mx.com.gm.jdbc_ManejoJDBCTrans/target/
/NetBeans/ProyectMusicCRUD/nbproject/private/
/NetBeans/ProjectMusicCRUD/nbproject/private/
/NetBeans/ProjectMusicCRUD/build/
/NetBeans/JListProyect/nbproject/private/
/NetBeans/MySQLTest/nbproject/private/
/NetBeans/Supercomprin/target/
/NetBeans/PantallaLogin/target/
/NetBeans/MySQLTest/build/
/NetBeans/ChooseAComputer/nbproject/private/
/NetBeans/ChooseAComputer/build/
